{% extends 'base.html.twig' %}

{% block body %}


        <h2>Offers</h2>
        <div class="table-responsive">
            <table class="table table-striped table-sm">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Email</th>
                    <th>Image URL</th>
                    <th>Created</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for  id,offer in offers %}
                    <tr>
                        <td>{{ offer.id }}</td>
                        <td>{{ offer.title }}</td>
                        <td>{{ offer.description }}</td>
                        <td>{{ offer.email }}</td>
                        <td>{{ offer.imageUrl }}</td>
                        <td>{{ offer.creationDate }}</td>
                        <td>
                            <span><a href="{{ path('offers_show', {'offerId': offer.id}) }}">View</a></span> |
                            <span><a href="{{ path('offers_edit', {'offerId': offer.id}) }}">Edit</a></span> |
                            <span><a href="{{ path('offers_delete', {'offerId': offer.id}) }}">Delete</a></span>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>



{% endblock %}


